* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

body {
    background: #e9ebee;
}

.clearfix {
    display: block;
    clear: both;
}

nav {
    background-color: #4267B2;
    width: 100%;
    height: 42px;
}

nav a {
    color: #ffffff;
}

.navbar {
    padding: 5px 0 0 0;

}
.navbar .row {align-items: center
}

.nav-margin {
    margin: 0 50px;
}

.row {
    display: flex;
}

.navbar .brand {
    border-radius: 50%;
    width: 34px;
    margin-right: 5px;
}

label {
    display: flex;
    height: 24px;
}

label button {
    background: rgba(240,240,240, 1);
    border-radius: 0 4px 4px 0;
    color: rgba(0,0,0, .5);
    width: 46px;
}

label button:focus {
    color: #ffffff;
    background: #4080ff;
}

.navbar input {
    min-width: 266px;
    width: 386px;
    max-width: 420px;
    padding: 0 0 0 10px;
    border: 0;
}

.left, .right {
    display: flex;
}
.left {align-items: center}

.navbar .right {
    margin-left: 20px;
}

.icons {
    display: flex;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
}

.flex-1 {
    flex: 8.333333%;
    max-width: 8.333333%;
}

.flex-2 {
    flex: 0 0 16.666666%;
    max-width: 16.666666%;
}

.flex-3 {
    flex: 0 0 24.999999%;
    max-width: 24.999999%;
}

.flex-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.flex-5 {
    flex: 0 0 41.666666%;
    max-width: 41.666666%;
}

.flex-6 {
    flex: 0 0 49.999999%;
    max-width: 49.999999%;
}

.flex-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.flex-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.flex-9 {
    flex: 0 0 74.999999%;
    max-width: 74.999999%;
}

.flex-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.flex-11 {
    flex: 0 0 91.666666%;
    max-width: 91.666666%;
}

.flex-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.navbar img, .liste img, .publication img, .bottom img {
    border-radius: 50%;
    width: 17px;
}

.br {
    border-right: solid rgba(0,0,0, .1) 1px;
    padding: 0 10px;
}

.navbar .br:first-child {
    padding-left: 0;
}

.navbar .br a {
    display: flex;
    align-items: center;
    line-height: 28px;
    padding: 0 4px;
    border-radius: 4px;
}

.navbar .br:hover {
    background: rgba(0,0,0, .1);
}

.navbar .br span {
    font-size: 12px;
    font-weight: bold;
}

.navbar .br img {
    margin: 0 10px 0 0;
}

button {
    background: rgba(0,0,0,0);
    border: rgba(0,0,0,0);
}

.right button {
    opacity: .5;
}

.right button:hover {
    opacity: 1;
}

.icons i {
    font-size: 18px;
}

.mt-2 {
    margin-top: .75rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mr-2 {
    margin-left: .75rem;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

button {
    font-size: inherit;
    line-height: inherit;
}
